<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuantU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuantU.styles.css" asp-append-version="true" />
    @Html.Partial("_Favicons")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow"
            style="background: #C9AAFF">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/QuantULogo.png" alt="" height="75px">
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end me-4">
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="PaperTrading">Paper Trading</a>
                        </li>
                        <li>
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Home"
                                asp-action="UserQuiz">User Quiz</a>
                        </li>
                    </ul>
                    <div class="btn-group ms-auto">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="background-color: #C9AAFF;">
                            Sign in
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sign in</a></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                            <li><a class="dropdown-item" href="#">Sign up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <script>
        if (localStorage.getItem("loggedin") === 'true') {
            document.getElementById('login').text = "Logged In";
            document.getElementById('login').classList.add('disabled');
            document.getElementById('login').classList.add('text-white-50');
        }
    </script>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QuantU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

