/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body{
  padding: 0;
  margin: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0%;
}

@keyframes wand {
  10%{
    transform: rotate(-15deg);
  }
  20%{
    transform: rotate(-30deg);
  }
  30%{
    transform: rotate(-45deg);
  }
  40%{
    transform: rotate(-60deg);
  }
  45%{
    transform: rotate(-75deg);
  }
  50%{
    transform: rotate(-90deg);
  }
  55%{
    transform: rotate(-75deg);
  }
  60%{
    transform: rotate(-60deg);
  }
  70%{
    transform: rotate(-45deg);
  }
  80%{
    transform: rotate(-30deg);
  }
  90%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes star1 {
  25%{
      transform: translateY(2px);
  }
  50%{
      transform: translateX(1px);
  }
  75%{

  }
  100%{

  }
}
@keyframes star2 {
  25%{
      transform: translateY(-2px);
  }
  50%{
      transform: translateX(-2px);
  }
  75%{
      transform: translateX(-3px);
  }

}
@keyframes star3 {
  25%{
      transform: translateY(2px);
  }
  50%{
      transform: translateX(2px);
  }
  75%{
      transform: translateY(1px);
  }
}
#wand {
  transition: all 1s ease;
}

#wand:hover{
  animation: 3s wand infinite;
}

#wand:hover #star1{
  animation: 3s star1 infinite;
}
#wand:hover #star2{
  animation: 3s star2 infinite;
}
#wand:hover #star3{
  animation: 3s star3 infinite;
}

