QuantU/obj/Debug/net7.0/project.razor.json
QuantU/bin/Debug/net7.0/QuantU.dll
*.pdb
QuantU/obj/Debug/net7.0/project.razor.json
*.cache
*.cache
QuantU/obj/Debug/net7.0/QuantU.csproj.FileListAbsolute.txt
*.dll
*.editorconfig
*.editorconfig
*.cache
QuantU/obj/Debug/net7.0/staticwebassets.build.json
QuantU/obj/Debug/net7.0/staticwebassets.development.json
*.props
QuantU/wwwroot/images/site.webmanifest
*.cache