@model QuantU.Models.UserInfo

@{
    ViewData["Title"] = "Home Page";
}
<body class = "sign">

@*box on left side of screen*@
<div class="container text-center">
 <div class="row">
    <div class="col">
<div class="sideText">
    <h4 class="sHeader">QuantU</h4>
        <span class = "text"> Investing seems daunting to manage and learn. Do not worry though, <strong class = "strong">Shadow Wizard Money Gang</strong> is here to help!</span>
      
</div>
@* *@
    </div>
    <div class = "im" style="position: absolute;">
      <img class = "img" src="~/images/swmg.jpg">
   </div>      
<div class = "col">
@*Add user page each div is a text bar for user info fields*@
<form asp-action="Index">
    <div class="signUp">
    <h1 class="display-4">Add User</h1>
<center>
    @*Username*@
    <div class="form__group field">
        <input asp-for="username" type="input" class="form__field" placeholder="User Name" name="username" id="username" required>
        <label asp-for="username" for="username" class="form__label">User Name</label>
        <span class="text-danger field-validation-valid" asp-validation-for="username"></span>
    </div>
    @*Password*@
    <div class="form__group field">
        <input asp-for="password" type="password" class="form__field" placeholder="Password" name="password" id="password" required>
        <label for="passsword" class="form__label">Password</label>
        <span class="text-danger field-validation-valid" asp-validation-for="password"></span>
    </div>
    @*Email*@
    <div class="form__group field">
        <input asp-for="email" type="input" class="form__field" placeholder="Email" name="email" id="email" required>
        <label asp-for="email" for="email" class="form__label">Email</label>
        <span class="text-danger field-validation-valid" asp-validation-for="email"></span>
    </div>
    @*Recovery Question*@
    <div class="form__group field">
        <input asp-for="recoveryQ" type="input" class="form__field" placeholder="Recovery Question" name="recoveryQ" id="recoveryQ" required>
        <label asp-for="recoveryQ" for="recoveryQ" class="form__label">Recovery Question</label>
        <span class="text-danger field-validation-valid" asp-validation-for="recoveryQ" ></span>
    </div>
    @*Recovery Answer*@
    <div class="form__group field">
        <input asp-for="recoveryA" type="input" class="form__field" placeholder="Recovery Answer" name="recoveryA" id="recoveryA" required>
        <label asp-for="recoveryA" for="recoveryA" class="form__label">Recovery Answer</label>
        <span class="text-danger field-validation-valid" asp-validation-for="recoveryA" ></span>

    </div><br>
@*submit message either yay or nay*@
     @if(TempData["msg"] != null)
    {
        <div class="mb-3">
            @TempData["msg"]
        </div>
    } 
@*Submit Button*@
   <button type="submit" class="submit">Submit</button>
    </div>
    </center>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</div>
</div>

