@model QuantU.Models.UserInfo

@{
    ViewData["Title"] = "Log in";
}
<body>
@*Wizard*@
<div id ="my-image"  style=" padding-top: 50px; left: 65%; position: absolute;" >
  <img class = "login" src="~/images/login.jpg">
</div>

<div class= "home">
<div class="contain">
    <center>
    <div class="text-center">
        <h1>Log In</h1> 
    </div>
    <form asp-action="LogIn">
        <div class="container text-center">
        <div class="row">
            @*Username for login*@
            <div class="col-3">
                <input asp-for="username" type="text" class="effect-5" placeholder="User Name" required>
                <span class="focus-border" asp-validation-for="username"></span>
            </div><br><br><br>
            @*Password for login*@
            <div class="col-4">
                <input type = "password" asp-for="password" class="effect-6" placeholder="Password" required>
                <span class="focus-border" asp-validation-for="password"></span>
            </div>
        </div><br>
    <button type="submit" class="submit">Submit</button>
    </form>
    </center>
    </div>
    </div>
</div>
    </div>
</div>


</body>