/* _content/QuantU/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body[b-fl0of2xla1]{
  padding: 0;
  margin: 0;
}

a.navbar-brand[b-fl0of2xla1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fl0of2xla1] {
  color: #0077cc;
}

.btn-primary[b-fl0of2xla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fl0of2xla1], .nav-pills .show > .nav-link[b-fl0of2xla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fl0of2xla1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fl0of2xla1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fl0of2xla1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fl0of2xla1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fl0of2xla1] {
  width: 100%;
  /* position: absolute;
  bottom: 0;
  margin-bottom: 0%; */
}

@keyframes wand-b-fl0of2xla1 {
  10%{
    transform: rotate(-15deg);
  }
  20%{
    transform: rotate(-30deg);
  }
  30%{
    transform: rotate(-45deg);
  }
  40%{
    transform: rotate(-60deg);
  }
  45%{
    transform: rotate(-75deg);
  }
  50%{
    transform: rotate(-90deg);
  }
  55%{
    transform: rotate(-75deg);
  }
  60%{
    transform: rotate(-60deg);
  }
  70%{
    transform: rotate(-45deg);
  }
  80%{
    transform: rotate(-30deg);
  }
  90%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes star1-b-fl0of2xla1 {
  25%{
      transform: translateY(2px);
  }
  50%{
      transform: translateX(1px);
  }
  75%{

  }
  100%{

  }
}
@keyframes star2-b-fl0of2xla1 {
  25%{
      transform: translateY(-2px);
  }
  50%{
      transform: translateX(-2px);
  }
  75%{
      transform: translateX(-3px);
  }

}
@keyframes star3-b-fl0of2xla1 {
  25%{
      transform: translateY(2px);
  }
  50%{
      transform: translateX(2px);
  }
  75%{
      transform: translateY(1px);
  }
}
#wand[b-fl0of2xla1] {
  transition: all 1s ease;
}

#wand:hover[b-fl0of2xla1]{
  animation: 3s wand-b-fl0of2xla1 infinite;
}

#wand:hover #star1[b-fl0of2xla1]{
  animation: 3s star1-b-fl0of2xla1 infinite;
}
#wand:hover #star2[b-fl0of2xla1]{
  animation: 3s star2-b-fl0of2xla1 infinite;
}
#wand:hover #star3[b-fl0of2xla1]{
  animation: 3s star3-b-fl0of2xla1 infinite;
}

