@{
  ViewData["Title"] = "Home Page";
}
@model QuantU.Models.UserFinances;


<script>

  if ('@TempData["loggedin"]' === "True"){
    localStorage.setItem("loggedin", true);
    localStorage.setItem("username", '@TempData["username"]');
  }
</script>

<marquee style="background: black; position: relative;">
  <label>
      <p class="mt-2"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lime" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
      </svg></span>  <text id="first" style="color:white">Example Text 1</text>&emsp;</p>
  </label>
  <label>
      <p class="mt-2"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg></span>  <text id="second" style="color:white">Example Text 2</text> &emsp;</p>
  </label>
  <label>
      <p class="mt-2"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lime" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
      </svg></span>  <text id="third" style="color:white">Example Text 3</text>&emsp;</p>
  </label>
</marquee>

<script>
  const btn = document.getElementById('logOut');
  btn.addEventListener('click', function(e) {
    localStorage.clear();
  });
</script>

<script>
      var requestOptions = {
        method: 'GET'
    };

    var params = {
        api_token: 'zN4Le7hdAZLXx50HoiqfMv00RgKQzX6i7RPsycKs',
        symbols: 'msft,fb',
        limit: '50'
    };

    var esc = encodeURIComponent;
    var query = Object.keys(params)
        .map(function(k) {return esc(k) + '=' + esc(params[k]);})
        .join('&');

    fetch("https://api.marketaux.com/v1/news/all?" + query, requestOptions)
      .then(response => response.json())
      .then(result => {
                      console.log(result);
                      document.getElementById('first').innerHTML = result.data[0].title;
                      document.getElementById('second').innerHTML = result.data[1].title;
                      document.getElementById('third').innerHTML = result.data[2].title;})
      .catch(error => console.log('error', error));
</script>

<div class="container">

  <div class="text-center">
      <h1 class="display-4">WelcomE</h1>
  </div>


  @* Form for Search() function in HomeComtroller.cs *@
      <form asp-action="Search">

    @* Search bar seen on screen 
      NOTE: see how the for and name attribute match the Search parameter name *@
      <label for="title" class="form-label">Datalist example</label>
        <input name="title" class="form-control" type="text" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist class="searchbar" id="datalistOptions">
      @using MongoDB.Driver
      @using QuantU.Models
      @{
        MongoClient client = new MongoClient("mongodb+srv://SWMG:Shawdowwizardmoneygang@swmg.hzzuvlg.mongodb.net/?retryWrites=true&w=majority");
        var builder = Builders<StockData>.Filter;
        var empty = builder.Empty;
        List<StockData> results = client.GetDatabase("SWMG").GetCollection<StockData>("StockData").Find(empty).ToList();
        List<string> stocks = new List<String>();
        foreach (StockData result in results)
        {
          stocks.Add(result.name + ", " + result.ticker);
        }
        stocks.Sort();
      }

      @foreach (string stock in stocks)
      {
              <option value='@stock'></option>
      }
        </datalist>
      </form>
<br>
  <br>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header text-center" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Investment Information Collapsable
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
        <div class="accordion-body">
          <ul>
            <li>info</li>
            <li>info</li>
            <li>info</li>
            <li>info</li>
            <li>info</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div style="text-align: center;">
    <h2>Top Movers Past 24 Hours</h2>
  </div>

  <style>
    .card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: calc(33.33% - 10px);
  /* subtract 10px for margin between cards */
  box-sizing: border-box;
  margin-right: 10px;
  /* apply margin between cards */
}
.card:last-child {
  margin-right: 0;
  /* remove margin on last card */
}
  </style>

  <div class="card-container">
  <div class="card">
    <!-- card content -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Stock graph</text></svg>
      <div class="card-body">
        <p class="card-text">Stock name/information</p>
      </div>
  </div>
  <div class="card">
    <!-- card content -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Stock graph</text></svg>
      <div class="card-body">
        <p class="card-text">Stock name/information</p>
      </div>
  </div>
  <div class="card">
    <!-- card content -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Stock graph</text></svg>
      <div class="card-body">
        <p class="card-text">Stock name/information</p>
      </div>
  </div>
</div>
