@model QuantU.Models.Portfolio

@{
    ViewData["Title"] = "Paper Trading";
}

<div class="container mt-4 ms-3">
    <h1 class="mb-5">Your Portfolios</h1>

    <style>
        .newstock {background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    }
        
    </style>

    @for (var i = 0; i < ViewBag.portfolioList.Count; i++){
        @if ((i % 4) == 0){
            <div class="row" id=@i/4>
                <script>
                    console.log(document.getElementById('@i/4').classList);
                </script>
                <p>hi</p>
            </div>
        }
    }
    @for (var i = 1; i < ViewBag.portfolioList.Count + 1; i++)
    {   
        @if ((i % 4) == 0){
            <script>
                var row = document.getElementById('@i/4');
                var col = document.createElement("div");
                col.classList.add("col");
                col.classList.add("text-center");

                

                var p = document.createElement("p");
                p.textContent = @ViewBag.portfolioList[i-1].name;

               
                col.appendChild(p);

                row.appendChild(col);
            </script>
        }
        else {
            <script>
                var row = document.getElementById('@i/4 + 1');
                var col = document.createElement("div");
                col.classList.add("col");
                col.classList.add("text-center");

                

                
                

                var p = document.createElement("p");
                p.textContent = '@ViewBag.portfolioList[i-1].name';

                
                col.appendChild(p);

                //row.appendChild(col);
            </script>
        }
    }

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary newstock" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
            <path
                d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
        </svg>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Portfolio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="PaperTrading">
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="name" class="form-label">Portfolio Name</label>
                        <input asp-for="name" type="text" class="form-control" >
                        <span class="text-danger" asp-validation-for="name"></span>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create Portfolio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</div>