html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.fancybutton {
  position: relative;
  display: inline-block;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  padding: 0.8rem 1.6rem;
  transition: 0.2s;
  margin: 0.5rem;
  transform: scale(1);
  z-index: 1;
}

.fancybutton.active {
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}

.fancybutton:hover {
  transform: scale(1.05);
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr); 
  animation: box 3s infinite;
}

.fancybutton::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.fancybutton span {
  position: relative;
  z-index: 1;
}

.fancybutton i {
  position: absolute;
  inset: 0;
  display: block;
}

.fancybutton i::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  left: 70%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.fancybutton:hover i::before {
  width: 10px;
  left: 20%;
  animation: move 3s infinite;
}

.fancybutton i::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.fancybutton:hover i::after {
  width: 10px;
  left: 70%;
  animation: move 3s infinite;
}


@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

/*sign up box stuff*/
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 70%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #11998e;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #c9aaff, #11998e);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #c9aaff;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/*styling for submit button*/
.submit{
  display: inline-block;
  width: 180px;
  height: 50px;
  background: linear-gradient(to left,  #c9aaff, #c9aaff );
  box-shadow: 0 10px 25px  #c9aaff;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.submit:hover {
  transform: scale(1.05);
}


.signUp {
  width: 500px;
  height: 600px;
  background: radial-gradient(rgba(255,255,255,0.6));
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  padding: 40px 25px;
  text-align: center;
}

.sideText {
  border: none;
  top: 50%;
  left: 6%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.22;
  padding: 20px 60px; 
  float: left;
  width: 44%;
  position: absolute;
  letter-spacing: .25px;
}

/*header for page*/
.sHeader {
  color: #9b66f7;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  color: #c9aaff;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.strong{
  color: #9b66f7;
}
.body {
  background-color:#444;
}



input[type="text"]{
  font: 15px/24px 'Muli', sans-serif; 
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

:focus{outline: none;}

/*username for login*/
.col-3{
  float: left; 
  width: 40%; 
  margin: 40px 3%; 
  position: relative;
}  

/*password for login*/
.col-4{
  float: right; 
  width: 40%; 
  margin: 40px 3%; 
  position: relative;

}  

.col-4::placeholder {
  text-align: right;
}

input[type="text"]{
  font: 15px/24px "Lato", Arial, sans-serif; 
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

.effect-5{
  border: 0; 
  padding: 5px 0 7px;
  border: 1px solid transparent; 
  border-bottom-color: #ccc; 
  transition: 0.4s;
  }
  
  /*username for login*/
  .effect-6{
    border: 0; 
    padding: 5px 0 7px;
    border: 1px solid transparent; 
    border-bottom-color: #ccc; 
    transition: 0.4s;
    float:right;
    }
    .effect-6:focus{
      padding: 5px 14px 7px; 
      transition: 0.4s;
      float: right;
      text-align: right;
    }

    .effect-6::placeholder{
    text-align: right;
    }


  /*password for login*/
.effect-5:focus{
  padding: 5px 14px 7px; 
  transition: 0.4s;
}

.effect-5 ~ .focus-border{
  position: absolute; 
  height: 36px; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  transition: 0.4s;
}
.effect-5:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s; 
  border: 2px solid #c9aaff;
}
.effect-6 ~ .focus-border{position: absolute; height: 36px; bottom: 0; right: 0; width: 0; transition: 0.4s;}
.effect-6:focus ~ .focus-border{width: 100%; transition: 0.4s; border: 2px solid #c9aaff;}

/*right box on sign up page*/
.contain{
  position: relative; /* add position relative to the parent element */
  width: 500px;
  height: 400px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 40px 25px;
  margin-top: 6%;
  left: 100px; 
  margin-top: 6%;
  left: 100px; 
}

/*make wizard move forever */
#my-image {
  animation: 1s my-image infinite;

}

/*side box postitioning*/
.login {
  width: 74%; 
  height: 74%;
 
}

/*make wizard move up and down*/
@keyframes my-image {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}


.im {
  z-index: -1;
  left: -21%;
  padding: 20px;
}

.accordion2 {
  width: 100%;
  max-width: 1550px;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
}
.accordion2 ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion2 ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 33.33%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease;
}
.accordion2 ul li:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1560221328-12fe60f83ab8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
}
.accordion2 ul li:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1640340434855-6084b1f4901c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}
.accordion2 ul li:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}
.accordion2 ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion2 ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion2 ul li div a * {
  opacity: 1;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: normal;
  overflow: hidden;
  transform: translateX(0);
  transition: all 400ms ease;
  vertical-align: top;
  color: #fff;
}
.accordion2 ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.accordion2 ul li div a p {
  font-size: 13.5px;
  margin-top: 10px;
}
.accordion2 ul:hover li {
  width: 10%;
}
.accordion2 ul:hover li:hover {
  width: 80%;
}
.accordion2 ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion2 ul:hover li:hover a * {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .accordion2 {
    height: auto;
  }
  .accordion2 ul li,
  .accordion2 ul li:hover,
  .accordion2 ul:hover li,
  .accordion2 ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 80%;
    transition: none;
  }
}

/*styling for accordion on account page*/
.format {
  font-size: 24px;
  font-family: FreeMono;
  letter-spacing: .2px;
  list-style-type: '▹';

}

/*color for accordion on account page*/
.accordion-button {
  color:  #c9aaff;
  background-color: #f0f0f0;
}
